// Styles for the inner chatbot container
#wp-ai-sdk-chatbot-demo-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.wp-ai-sdk-chatbot-demo__input {
		margin: 0;
	}

	// Ensure the chatbot fills the available space
	.wp-ai-sdk-chatbot-demo__container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

.components-button.button.wp-ai-sdk-chatbot-demo-button {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	padding: 0;
	margin: 0 5px 5px 0; // This is only so that the outline does not show behind the chatbot container.
	display: flex;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 100;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-wrap: wrap;
	line-height: 24px;
}
